<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcat.mapper.SysUserRoleMapper">
    <update id="updateRoleByUserId">
        update sys_user_role set role_id=#{roleId}
        where user_id=#{userId}
    </update>

    <delete id="deleteUserRoleByUserId" parameterType="java.lang.Long">
        delete from sys_user_role where user_id=#{userId}
    </delete>

    <delete id="deleteUserRoleByRoleId" parameterType="java.lang.Long">
        delete from sys_user_role where role_id=#{roleId}
    </delete>

</mapper>
